{% extends "layout.html" %}

{% block title %}
    bought
{% endblock %}

{% block main %}
<div class="section">
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Count</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr><th>{{ symbol }} </th><th>{{ shares }}</th><th>{{ price | usd }}</th><th>{{ Tprice | usd }}</th></tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Current cash balance</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr><th>{{ cash | usd}}</th><th>{{ (cash + Tprice) | usd}}</th></tr>
        </tbody>
    </table>
</div>
{% endblock %}